.hotelcontent {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "titre titre"
    "descrip suite";

  .nom_hotel {
    grid-area: titre;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5rem solid $color-7;
    .texte {
      h2 {
        color: $color-2;
        font-size: 2.5rem;
        font-style: italic;
      }
    }
  }
  .descriptionhotel {
    grid-area: descrip;
    display: grid;
    margin-top: 0;

    img {
      width: 100%;
      margin: 0;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 1.5rem;
      color: $color-2;
      font-family: $font-1;
    }
  }
  .suitehotel {
    grid-area: suite;
    background: blue;
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
