// style page Accueil

.home {
  //on se cale sur l'ensemble du viewport et definit la largeur minimale à 400px
  position: absolute;
  height: 100vh;
  width: 100vw;
  min-width: 400px;
  overflow-y:auto;
  overflow-x: hidden;

  // on redefinit pour cette page l'emplacement du logo en mode responsive
  .logo {
    position: absolute;
    width: 100px;
    height: 100px;
    @media screen and (max-width: 980px) {
      top: 10%;
      right: 45%;
    }
    @media screen and (max-width: 700px) {
      top: 3%;
      right: 38%;
    }
  }
  // on redefinit pour cette page l'emplacement des icones des réseaux sociaux en mode responsive
  .social-network {
    @media screen and (max-width: 980px) {
      right: 10%;
    }
  }
  //on redefinit pour cette page la dimension de la navigation en mode responsive
  .navigation {
    @media screen and (max-width: 980px) {
      font-size: 1rem;
      line-height: 25px;
      top: 0.5rem;
      left: 0.3rem;
      &::before {
        height: 200px;
        width: 200px;
        top: -80px;
        left: -80px;
      }
      .navactive {
        font-size: 1.5rem;
      }
    }
  }
  // affichage du fond animé de la page
  .bg {
    animation: slide 14s linear infinite alternate;
    background-image: linear-gradient(-60deg, $color-3 50%, $color-2 20%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }

  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 18s;
  }

  .bg3 {
    animation-duration: 20s;
  }
  @keyframes slide {
    0% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(25%);
    }
  }
  // mise en forme du contenu de la page
  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    padding-left: 1rem;
    width: auto;
    height: 100%;

    // mise en forme des éléments à afficher
    .main-content {
      position: absolute;
      top: 30%;
      left: 10%;
      right: 10%;
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      user-select: none;
      justify-items: center;
      text-align: center;
      color: $color-1;

      width: 85%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

       @media screen and (max-width: 1620px) {
      top: 25%;
    }
    }
  }
}
